html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -- Carsousel styling -- */

/* Central carousel area */
#carousel_container{

}
#carousel_outside_wrapper{
    width: 980px;
    height: 170px;
    /*background-color: #f1e9da;*/
    background: rgba(241,233,218,1);
background: rgba(214,214,214,1);
background: -moz-linear-gradient(left, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(214,214,214,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(214,214,214,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(214,214,214,1)));
background: -webkit-linear-gradient(left, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(214,214,214,1) 100%);
background: -o-linear-gradient(left, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(214,214,214,1) 100%);
background: -ms-linear-gradient(left, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(214,214,214,1) 100%);
background: linear-gradient(to right, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(214,214,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d6d6d6', GradientType=1 );
margin: 10px auto;
    position: relative;
    /*border: 1px solid #80b3b3;*/
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#carousel_inside_wrapper{
    height: 170px;
    overflow: hidden;
    position: relative;

}

#carousel{
    width: 1500px;
    height: 170px;
    position: relative;
    left: -165px;
}

.image_bloc{
    float:left;
    position: relative;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    margin:4px 2px;
    text-align: center;
}

.image_bloc img{
    text-align: center;
    vertical-align: middle;
    max-height: 150px;
    max-width: 150px;
    border-radius: 0px 3px 0px 3px;
    -moz-border-radius: 0px 3px 0px 3px;
    -webkit-border-radius: 0px 3px 0px 3px;
    border: 4px solid #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 5px 0px rgba(122,122,122,1);
    cursor: pointer;
    transition: border 0.5s ease;
}

.image_bloc img:hover{
    border: 4px solid #00bfff;
}

/* Used to help align the pictures vertically */
.align_helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Arrows */
.arrow_container{
    width: 35px;
    color: #404040;
    background-color: #ffffff;
    height: 40px;
    top: 65px;
    position: absolute;
    z-index: 10;
    font-weight: bold;
    font-size: 37px;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    transition: width 0.2s ease, height 0.2s ease, font-size 0.2s ease, top 0.2s ease, right 0.2s ease, left 0.2s ease, color 0.2s ease;
    /* To avoid selection */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.arrow_container:hover {
    height: 50px;
    top: 60px;
    width: 40px;
    font-size: 46px;
    color: #00bfff;
}

#left_arrow_container{
    left: -20px;
    /*border-left: none;*/
}

#left_arrow_container:hover{
    left: -25px;
}

#right_arrow_container{
    right: -20px;
    /*border-right: none;*/
}

#right_arrow_container:hover{
    right: -25px;
}

/* Pop in & Blocker */
#block_page{
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.6);
    z-index:10;
    height: 100%;
    width: 100%;
}

#popin_container{
    margin:3% auto 0 auto;
    height: 80%;
    width: 80%;
    opacity: 0;
}

#popin_container img{
    width: auto;
    height: auto;
    display:block;
    margin: auto;
    border-radius: 0px 3px 0px 3px;
    -moz-border-radius: 0px 3px 0px 3px;
    -webkit-border-radius: 0px 3px 0px 3px;
    border: 5px solid #ffffff;
}

.horizontal{
    max-width: 100%;
}

.vertical{
    max-height: 100%;
}

#close_window{
    text-align: center;
    margin: 0 auto;
    font-family: arial;
    width: 50px;
    color: #404040;
    background-color: #ffffff;
    height: 25px;
    z-index: 10;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    cursor: pointer;
    transition: width 0.2s ease, height 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

#close_window:hover{
    height: 30px;
    width: 60px;
    font-size: 30px;
    color: #00bfff;
}